/*-- CSS for Tree layout --*/

.node {
    cursor: pointer;
  }  
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }
  
  /*-- CSS for Tree layout End--*/
  
   /*-- CSS for Chord Diagram start--*/
  body {
  font: 13px sans-serif;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}

/*-- CSS for Chord Diagram End--*/

/*-- CSS for usgeo map start--*/

.background {
  fill: none;
  pointer-events: all;
}

#usgeomap {
  stroke: #000;
  stroke-width: 1.5px;
}

#usgeomap text {
  fill: #000;
  stroke: none;
  text-anchor:middle;
  font-size: 10px;
}

#usgeomap .active {
  fill: steelblue !important;
}

#usgeomap text.active {
  font-size: 12px;
  font-weight:bold;
  fill: #fff;
  stroke-width: .5px;
  fill: #fff !important;
  stroke: #000;
}
/*-- CSS for usgeo map End--*/