.title-textbox {
  border: none !important;
  border-radius: 0px !important;
  color: rgb(246, 246, 246) !important;
  margin-top: 4px !important;
  font-family: monospace !important;
  font-size: 15px !important;
  padding-top: 3px !important;
  background-color: rgb(107, 107, 107) !important;	
}

.title-label {
	color: black;
	font-weight: 600;
  	margin-top: 4px;
  	height: 31px;
}

.radio > input {
	margin-top: 0;
    margin-right: 2px;
}

.radio, .checkbox {
	margin-top: 0px;
  	margin-bottom: 0px;
}

.list-combo > input {
	  background: white;
}

.grayscale-image {  
   -webkit-filter: grayscale(0.9); /* Webkit */  
   filter: gray; /* IE6-9 */  
   filter: grayscale(0.9); /* W3C */ 
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */  
} 

.z-menuitem-image, z-menupopup-separator{
display:none;
}

.z-panel-head {
	padding: 0px;
}
.z-panel-header {
	padding: 0px;
}
.z-caption input{
	font-size: 12px;
}

.panel-heading {
	padding: 0;
}

.dashboard-body .dashboard-body-inner:last-child {
	height: 100%;
}

.z-portallayout.z-portallayout-vertical {
	min-height: 100%;
}

.img-btn {
	font-size: 16px;
	padding: 0;
	border: none;
	color:#626C6F;
	margin-left: 4px;
	margin-right: 4px;
}

.img-btn:hover {
	color:#4FAEFF;
	background: transparent;
	border-color: transparent;
	text-decoration: none;
	outline: none;
}

.img-btn:focus {
	color:black;
	background: transparent;
	border-color: transparent;
	text-decoration: none;
	outline: none;
}

.img-btn:disabled {
	cursor: not-allowed;
	opacity: .4;
	background: transparent;
	border-color: transparent;
	text-decoration: none;
	outline: none;
	border:none;
	background: transparent;
}

.z-navbar-vertical .z-navitem-selected .z-navitem-content {
	background: #e1edf4;
	color: #000;
}
.z-navbar-vertical .z-navitem-selected .z-navitem-content:hover {
background: #91C3E0;
}

/*
 * Edit Screen Panel styles 
 */ 
.editPanel > .z-panel-head {
	border-radius: 0px;
	border: 1px solid rgb(185, 185, 185);
	border-bottom: none;
}

.editPanel > .z-panel-head > .z-panel-header {
	background: rgb(204, 204, 204);
	padding: 3px;
	padding-left: 10px;
	font-weight: bold;
	color: rgb(24, 24, 24);
}
.collapsiblePanel {
	border: none !important;
	padding: 0px !important;
}

/*
 * Panel styling - Created for plugin config page
 */
.form {
	border: 1px solid #CDCDCD;
	border-top: none;
}

.form-inner {
	padding-bottom: 0px !important;
}

.form-actions {
	background-color: #f4f4f4;
	padding: 10px 40px 20px 250px;
	border-bottom: 1px rgb(167, 167, 167) solid;
}

.form-group {
	min-height: 0px;
}

.pagePanel>.z-panel-head {
	border-radius: 0px;
	border-color: #CDCDCD;
}

.pagePanel>.z-panel-head>.z-panel-header {
	background: #fafafa;
}

.pagePanel>.z-panel-head>.z-panel-header>.z-caption>.z-caption-content {
	border-right: 1px solid #cdcdcd;
	padding: 8px 10px 8px 11px;
	float: left;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	-webkit-box-shadow: 1px 0 0 0 #ffffff;
	box-shadow: 1px 0 0 0 #ffffff;
}

.pagePanel>.z-panel-head>.z-panel-header>.z-caption>.h5 {
	color: #666666;
	text-shadow: 0 1px 0 #ffffff;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	line-height: 12px;
	margin: 0;
}

.pagePanel>.z-panel-head>.z-panel-header>.z-caption>.z-panel-icon {
	background: none;
	border: none;
	border-left: 1px solid #cdcdcd;
	border-radius: 0px;
	height: 32px;
	padding: 3px 12px 0px 10px;
	filter: alpha(opacity = 70);
	-webkit-box-shadow: 1px 0 0 0 #ffffff;
}

.pagePanel>.z-panel-head>.z-panel-header>.z-caption>.z-panel-close {
	margin-right: 4px;
}

.pluginName {
	color: rgb(85, 85, 85);
	font-size: 14px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
}

.pluginList>.z-row-inner {
	border: none;
}

.form-label-div {
	width: 250px;
	padding-right: 20px;
}

.z-grid-emptybody>tr>td {
	padding: 10px;
	font-size: larger;
}

.z-panelchildren header {
    background: none repeat scroll 0 0 #eeeeee;
	left:5px;
	top:5px;
}	

.z-panelchildren header nav a{
	color:#555;
}

.z-panelchildren header nav .chartOptions,.z-panelchildren header nav .filterTableOptions{
	margin:7px 5px 0 5px;
}
