@import url(http://fonts.googleapis.com/css?family=Signika+Negative:400,300,600);
/**
 * Positioning Loader at center of the page
 */
.z-loading {
	top: 50% !important;
	left: 45% !important;
	align: center; 
	vertical-align: middle;
}
  
/**
 * Body 
 */
body{
	background-color: #3c3c3c;
	overflow: hidden; 
}

/**
 * Header
 */
.banner {
	background-image: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 0;
}

/**
 * Top right Nav bar
 */
.user-nav > ul > li > a, 
.user-nav > ul > li > a > i {
	color: rgba(255, 255, 255, 0.6);
}

.user-nav > ul {
  margin: -1px 0 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
.user-nav > ul {
    right: auto;
    position: relative;
  }
}
.user-nav > ul > li {
  float: left;
  list-style-type: none;
  margin: 0;
  position: relative;
  padding: 0;
}
.user-nav > ul > li > a {
  padding: 11.5px 10px;
  display: block;
  font-size: 10px;
}

.user-nav > ul > li > a:HOVER {
	text-decoration: none;
}

.user-nav > ul > li > a,
.user-nav > ul > li > a > i {
  color: rgba(255, 255, 255, 0.6);
}
.user-nav > ul > li > a > i {
  font-size: 11px;
  vertical-align: top;
  margin-right: 4px;
}
.user-nav > ul > li > a > .span {
  font-size: 10px;
  vertical-align: middle;
  padding: 2px 4px 2px;
  margin: -2px 4px 0;
  display: inline-block;
}
.user-nav > ul > li > a > .caret {
  border-top-color: rgba(255, 255, 255, 0.6);
}
.user-nav > ul > li:hover > a,
.user-nav > ul > li:hover > a > i,
.user-nav > ul > li.open > a,
.user-nav > ul > li.open > a > i {
  background-color: transparent;
  color: #ffffff;
}
.user-nav > ul > li:hover > a > .caret,
.user-nav > ul > li.open > a .caret {
  border-top-color: #fff;
}
.user-nav > ul ul > li > a {
  text-align: left;
  text-shadow: 0 1px 0 #ffffff;
}

/**
 * The Sidebar
 */
.sidebar-container {
	background-color: #3c3c3c;
}

.sidebar-button {
	background-color: #2B2B2B;
	width: 100%;
	border-radius: 0px;
	color:  #AAAAAA;
	font-family: 'Signika Negative', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.sidebar-button:HOVER {
	color: white;
}
.sidebar-button:ACTIVE,
.sidebar-button:FOCUS {
	color: #D8D8D8;
	outline: none;
}
 
/* Start of Default styling */
.sidebar > ul {
  border-top: 1px solid #343434;
  border-bottom: 1px solid #434343;
}
.sidebar > ul > li {
  border-top: 1px solid #434343;
  border-bottom: 1px solid #343434;
  background-color: #3c3c3c;
}
.sidebar > ul > li > a {
  color: rgba(255, 255, 255, 0.55);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.sidebar > ul > li > a > .label {
  background-color: #333333;
}
.sidebar > ul > li:hover {
  background-color: #434343;
}
.sidebar > ul > li:hover > a {
  text-decoration: none;
  color: #ffffff;
}
.sidebar > ul > li.open.submenu {
  background-color: #434343;
}
.sidebar > ul > li.open.submenu > a {
  color: #ffffff;
  border-bottom: none;
}
.sidebar > ul > li.list-selected {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #343434 0%, #3c3c3c 100%);
  background-image: linear-gradient(to bottom, #343434 0%, #3c3c3c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff343434', endColorstr='#ff3c3c3c', GradientType=0);
}
.sidebar > ul > li.list-selected > a {
  color: #ffffff;
  text-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.9);
}
.sidebar > ul > li.list-selected.open.subenu > a {
  border-bottom: 1px solid #3c3c3c;
}
.sidebar > ul ul {
  background-color: #222222;
}
.sidebar > ul ul li a {
  color: rgba(255, 255, 255, 0.35);
  border-top: 1px solid #252525;
  border-bottom: 1px solid #1a1a1a;
}
.sidebar > ul ul li a:hover,
.sidebar > ul ul li.list-selected a {
  color: rgba(255, 255, 255, 0.55);
  background-color: #252525;
}
.sidebar > ul ul:before,
.sidebar > ul ul:after {
  border-right: 6px solid #222222;
}
/* End of Default styling */

/* Start of Flat styling */
.sidebar > ul {
  border: 0;
}
.sidebar > ul > li {
  border-top: 0;
  border-bottom: 0;
}
.sidebar > ul > li.list-selected { 
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  background-color: #434343;
}
.sidebar > ul ul {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidebar > ul ul li a {
  border: 0;
}
.sidebar ul li a {
  text-shadow: none;
}
/* END of flat styling */
 

.sidebar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 205px;
}
.sidebar > ul > li {
  display: block;
  position: relative;
}
.sidebar > ul > li > a {
  padding: 10px 0 10px 15px;
  display: block;
  color: #AAAAAA;
  font-family: 'Signika Negative', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.sidebar > ul > li > a > i {
  margin-right: 10px;
}
.sidebar > ul > li > a > .label {
  margin: 2px 20px 0 0;
  float: right;
  padding: 3px 5px 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
.sidebar > ul > li > a .arrow {
  float: right;
  margin: 5px 20px 0 -10px;
  font-size: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.sidebar > ul > li.list-selected {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}
.sidebar > ul > li.open > a .arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar > ul > li.open ul {
  display: block !important;
}
.sidebar > ul ul {
  display: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
  position: relative;
  list-style: none;
}
.sidebar > ul ul li a {
  padding: 10px 0 10px 25px;
  display: block;
  color: #777777;
  position: relative;
}
.sidebar > ul ul li:first-child a {
  border-top: 0;
}
.sidebar > ul ul li:last-child a {
  border-bottom: 0;
}
.sidebar > ul ul li.list-selected a:before,
.sidebar > ul ul li.list-selected a:after {
  font-family: 'FontAwesome';
  content: "\f101";
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
}
.sidebar ul {
  margin-top: 0;
}
.sidebar ul li a {
  text-shadow: none;
}
.sidebar {
  display: block;
  float: left;
  position: relative;
  z-index: 16;
  width: 205px;
}
.sidebar > ul > li.list-selected > a {
  background: url("images/menu-active.png") no-repeat scroll right center transparent !important;
}
@media (max-width: 767px) {
  .sidebar {
    float: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .sidebar > a {
    padding: 7px 20px 7px 15px;
    box-shadow: 0 1px 0 #666666;
    margin-bottom: 1px;
    display: block !important;
    text-transform: uppercase;
    color: #eeeeee;
    font-size: 10px;
  }
  .sidebar > a > i {
    margin-right: 10px;
  }
  .sidebar > ul {
    margin: -2px 0 0 !important;
    width: 100% !important;
  }
  .sidebar > ul > li > a > span {
    display: inline !important;
  }
  .sidebar > ul > li.list-selected > a {
    background: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar,
  .sidebar > ul {
    width: 43px;
  }
  .sidebar > ul {
    margin-top: -1px;
  }
  .sidebar > ul > li > a > span {
    display: none;
  }
  .sidebar > ul > li.open.submenu a {
    border-bottom: none !important;
  }
  .sidebar > ul ul {
    display: none;
    position: absolute;
    left: 50px;
    top: 0;
    min-width: 150px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    list-style: none;
  }
  .sidebar > ul ul:before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: "";
    display: inline-block;
    left: -6px;
    position: absolute;
    top: 12px;
  }
  .sidebar > ul ul:after {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    display: inline-block;
    left: -5px;
    position: absolute;
    top: 13px;
  }
  .sidebar > ul ul li a {
    white-space: nowrap;
    padding: 10px 25px;
  }
  .sidebar .arrow {
    display: none;
  }
  .flat .sidebar > ul {
    margin-top: 0;
  }
  .flat .sidebar > ul ul {
    border-radius: 0;
  }
}
@media (max-width: 991px) {
  .sidebar li.submenu > ul {
    display: none;
  }
}
 
/*
 * Dashboard Container
 */
 .z-center {
 	background-color:  #3c3c3c;
 }
 
 .z-center, 
 .z-center-body {
 	overflow: visible !important;;
 }
 
 
.dashboard-container {
	margin-right: 0;
	min-height: 500px;
	width: auto;
	-webkit-background-clip: padding-box;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	outline: none !important;
	background: none repeat scroll 0 0 #f2f2f2;
}
.dashboard-zk-window{
	margin-top: 40px;
}

.dashboard-header {
	position: absolute;
	
	background-color: #f6f6f6;
	border-top-left-radius: 8px;
	padding-top: 5px;
	width: 100%;
	margin-top: -32px;
	z-index: 20;
}

.dashboard-header .h1 {
	color: #555555; font-size: 28px;
	font-weight: normal;
	text-shadow: 0 1px 0 #ffffff;
	margin-left: 20px;
	
	border: 0px;
	background-color: #f6f6f6;
}
/* Btn Group at top */
.btn-group-content {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-group-content .btn {
	line-height: 18px;
	font-size: 18px;
	padding: 0px;
	border: 0px;
	color: rgba(0, 0, 0, 0.5);
}

.btn-group-content .btn > img {
	height: 40px;
	padding: 8px;
}

.dashboard-body {
	margin-top: 30px;
	margin-left: 5px;
}

/*
 * Panel styling
 */
.panel {
	border: 0px;
	border-radius: 0px;
}
.panel-head {
	border: 1px solid #CDCDCD;
	height: 36px;
	-webkit-box-shadow: 0 1px 0 #ffffff inset;
	box-shadow: 0 1px 0 #ffffff inset;
	background-image: none;
	background-color: #fafafa;
	border-bottom-color: #d9d9d9;
}
.panel-body {
	border: 1px solid #CDCDCD;
	border-top: 0px;
	padding: 0px;
}
.z-panelchildren {
	border: 0px;
}

/*
 * Footer Styling
 */
.footer {
	height: 16px;
	background-color: #3c3c3c;
	color: rgba(255, 255, 255, 0.6);
}
.copyright { 
	font-size: 10px;
}

/*
 * Pop up Styling
 */
.z-window-header-move {
 	background: white;
 	padding: 0px;
 }
.z-window-header-move > .z-caption {
 	overflow: hidden;
	border-bottom: 1px solid;
	background-image: none;
	background-color: #fafafa;
	border-bottom-color: #d9d9d9;
}
.z-window-header-move > .z-caption > .h5 {
	color: #666666;
	text-shadow: 0 1px 0 #ffffff;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	line-height: 12px;
	margin: 0;
}
.z-window-header-move > .z-caption > .z-window-icon {
	border: none;
	background: none;
	border-left: 1px solid #cdcdcd;
	height: 32px;
	border-radius: 0px;
	width: 35px;
}
.z-window-header-move > .z-caption > .z-window-icon > .z-icon-remove {
	position: relative;
	top: 4px;
}
.z-window-header-move > .z-caption > .z-caption-content {
	padding: 0px;
	height: 100%;
	border-right: 1px solid #cdcdcd;
	padding: 8px 11px 8px 11px;
	float: left;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-box-shadow: 1px 0 0 0 #ffffff;
	box-shadow: 1px 0 0 0 #ffffff;
}
.z-window-content {
 	border: none !important;
}
.z-window-modal{
 	-webkit-border-radius: 0px !important;
	border-radius: 0px !important;
	padding: 0px;
}
.z-window-modal > .z-window-content {
	padding: 0px;
}

/* Only for Add Widget pop up */
.addwidget-img {
	max-height: 120px; 
}

/*
 * Form Elements
 */

.form-group {
	min-height: 76px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #eeeeee;
	margin: 0;
	padding: 10px;
	display: block;
	background-image: none;
	background-color: #fafafa;
	border-bottom-color: #d9d9d9;
}
.form-group > .form-group-inner > .label {
	font-weight: bold;
	color: #555555;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
}