.about {
           	margin: 0px 2px 0px; 
            overflow: hidden;
            position: absolute;
            /* right: 30%;*/
            width: 100%;
            bottom: 2px;
            top: 50px;
        }
        
       .tableDiv {
            /* margin: 40px auto 0px; */
            overflow: auto;
            position: absolute;
            /* left: 71%; */
            right: 0%;
            width: 25%;
            /* bottom: 8px;
            top: 8px; */
        }
        
        #table table {
            width: 100%
        }
        div.container {
            width: 800px;
        }
            
        ul {
		  list-style: none;
		}
        
        header {
		  position: absolute;
		  top: 0;
		  left: 0;
		  /* right: 0; */
		  z-index: 2;
		  height: 37px;
		  line-height: 32px;
		  color: #ddd;
		  text-shadow: 0 -1px black;
		  background: #243942;
		  border-bottom: 1px solid #191919;
		  background-image: -webkit-linear-gradient(top, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
		  background-image: -moz-linear-gradient(top, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
		  background-image: -o-linear-gradient(top, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
		  background-image: linear-gradient(to bottom, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
		  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
		  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
		}
		header a {
		  -webkit-transition: 0.1s ease-out;
		  -moz-transition: 0.1s ease-out;
		  -o-transition: 0.1s ease-out;
		  transition: 0.1s ease-out;
		  -webkit-transition-property: background, color;
		  -moz-transition-property: background, color;
		  -o-transition-property: background, color;
		  transition-property: background, color;
		}
		header h1 {
		  float: left;
		}
		header h1 a {
		  display: block;
		  padding: 0 15px;
		  font-size: 16px;
		  color: #eee;
		  text-decoration: none;
		}
		header h1 a:hover {
		  color: white;
		}
		header nav {
		  float: right;
		  border-left: 1px solid #2f4b56;
		  border-left: 1px solid rgba(255, 255, 255, 0.05);
		  border-right: 1px solid #111;
		}
		header nav li {
		  float: left;
		}
		header nav a {
		  display: block;
		  padding: 0 15px;
		  color: #d0d9de;
		  text-decoration: none;
		  border-left: 1px solid #191919;
		  border-right: 1px solid #2f4b56;
		  border-right: 1px solid rgba(255, 255, 255, 0.05);
		  cursor: pointer;
		  line-height: 36px;
		}
		header nav a:hover {
		  background: #2f4b56;
		  background: rgba(255, 255, 255, 0.1);
		}
		header nav a.icon {
		  padding-left: 40px;
		  background-position: 12px 11px;
		  background-repeat: no-repeat;
		}
		
		header nav li.active a, header nav a:active {
		  padding-right: 16px;
		  background-color: #1b2b32;
		  border-right: 0;
		  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
		  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
		}
		header nav span {
		  display: inline-block;
		  vertical-align: text-top;
		  margin-left: 10px;
		  padding: 0 5px;
		  line-height: 16px;
		  font-size: 11px;
		  color: white;
		  text-shadow: 0 1px #902a27;
		  background: #e93631;
		  border-radius: 2px;
		  background-image: -webkit-linear-gradient(top, #f65d5f, #e93631);
		  background-image: -moz-linear-gradient(top, #f65d5f, #e93631);
		  background-image: -o-linear-gradient(top, #f65d5f, #e93631);
		  background-image: linear-gradient(to bottom, #f65d5f, #e93631);
		  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
		  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
		}
		
		.layout_Surface > h3 {
		    font-size: initial;
		}
		
		.showHideSelectTableLabel {
			  color:#000; 
  			  text-shadow: none; 
		}
		input[type="checkbox"].showHideSelectTable{
			margin:0;
		}
		
		.graph_Graph .graphVertex .graph_Vertex.selected .common_Shape .common_Shape{
 			 stroke: #f48a00 !important;
		}
		
		.common_TextBox.selected .common_Shape .common_Shape{
  			fill: #f48a00;  			
		}
		
		.graph_Graph .graphVertex .graph_Vertex.selected .common_TextBox .common_Shape {
   			 fill: #f48a00;
		}

		 .graph_Graph .graphVertex .graph_Vertex.selected .common_TextBox .common_Text {
   		 fill:white;
		}
		
		.graph_Vertex .common_Icon .common_Shape {
		    fill: white;
		    stroke: #1f77b4;
		}
		
		.graph_Vertex .common_Icon .common_FAChar .common_Text {
		    fill: #1f77b4;
		}
		
		.graph_Vertex.expanding .common_Icon .common_Shape {
		    fill: #b41f3a;
		    stroke: none;
		}
		
		.graph_Vertex.expanding .common_Icon .common_FAChar .common_Text {
		    fill: white;
		}
		
		.graph_Vertex.expanded .common_Icon .common_Shape {
		    fill: #1f77b4;
		    stroke: none;
		}
		
		.graph_Vertex.expanded .common_Icon .common_FAChar .common_Text {
		    fill: white;
		}
		
		